<%- include('partials/header') -%>
  <div class="flex justify-center items-center">Success Animation</div>
  <h2 class="text-center text-3xl">CONGRATULATIONS</h2>
  <p class="text-center">Go back to main page</p>
  <button class="color blue">Back Main</button>
<%- include('partials/footer') -%>

<!-- To use TailwindCSS write, class="" -->
<!--   Ex: <p class="text-center text-2xl">This is centered and xl text</p> -->

<!--   target screen sizes -->
<!-- <div class="xs:w-full sm:w-1/2 min-h-screen">Test</div> -->

<!--   npm install -->
<!--   npm run start -->

<!-- style the page -->
<!-- add lottie files animation -->
<!-- add button to go back to the home page -->

<!--
my = margin y
my-auto = automatically set the y margin
mx = margin x
mx-auto = automatically set the x margin
text = text you are using
flex = flexbox
flex-col = flex columns
flex-row = flow rows
items-center = center the items
w-full = full width
w-1/2 = width 1/2 (you can use other fractions)
h-full = height full
min-h-screen = height is the full height of the screen
min-w-screen = width is the full width of the screen
-->

<!-- array.reduce((a, b) => a - b)
array.map((x) => x * 2) [x * 2] -->