<%- include('partials/header') -%>

<main class="">
    <div class="flex flex-col">
        <a href="/login" class=""> Login</a>
        <a href="/signup" class=""> Signup</a>
        <a href="/congratulations" class="">Test Congratulations</a>
    </div>
</main>
    

<%- include('partials/footer') -%>