<%- include('partials/header') -%>

<main class="">
  <div class="">
    <section class="">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class=""><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class=""><%= el.msg %></div>
      <% }) %> <% } %>
      <form action="/login" method="POST">
        <div class="">
          <label for="" class=""
            >Email address</label
          >
          <input
            type="email"
            class=""
            id=""
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <div class="">
          <label for="" class="">Password</label>
          <input
            type="password"
            class=""
            id=""
            name="password"
          />
        </div>
        <button type="submit" class="">Submit</button>
      </form>
    </section>
  </div>
</main>

<%- include('partials/footer') -%>
