<%- include('partials/header') -%>
<main class="container">
  <%- include('partials/header') -%>

  <main class="">
    <div class="">
      <div class="flex h-screen">
        <div
          class="xs:w-2/3 sm:w-7/10 md:w-7/10 lg:w-7/10 xl:w-1/4 mx-auto my-auto h-4/6"
        >
          <div
            class="bg-white rounded-lg p-6 text-center shadow-xl shadow-black"
          >
            <h1 class="text-2xl mb-4">Sign Up</h1>
            <form>
              <div class="mb-4">
                <label class="block text-gray-700 font-medium mb-2">
                  Name
                </label>
                <input
                  class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                  type="text"
                  placeholder="John Doe"
                />
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 font-medium mb-2">
                  Email
                </label>
                <input
                  class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                  type="email"
                  placeholder="john@example.com"
                />
              </div>
              <div class="mb-6">
                <label class="block text-gray-700 font-medium mb-2">
                  Password
                </label>
                <input
                  class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:out line-none focus:bg-white focus:border-purple-500"
                  type="password"
                  placeholder="**********"
                />
              </div>
              <button
                class="bg-purple-500 hover:bg-purple-600 text-white font-medium py-2 px-4 rounded-full"
              >
                Sign Up
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include('partials/footer') -%>
</main>
